SECRET_KEY=django-insecure
DEBUG=FALSE

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost

SOCIAL_AUTH_VK_OAUTH2_SECRET=lKNW9nh
SOCIAL_AUTH_VK_OAUTH2_KEY=1234567

TG_BOT_API_TOKEN=1234567890:AABBCCDdeEFFGGSDFSDGGFDGGGGGGGHJYUY